In [1]:
#importing data without Header
import pandas as pd
file_path="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DA0101EN-SkillsNetwork/labs/Data%20files/auto.csv"
df=pd.read_csv(file_path,header=None)  # this data dont have the indexes , thats why we pass None
df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [71]:
#adding header
headers = ["symboling","normalized-losses","make", "fuel-type","aspiration", 
           "num-of-doors","body- style", "drive-wheels","engine-location","wheel-base", "length",
           "width","height","curb- weight","engine-type", "num-of-cylinders", "engine-size","fuel- system",
           "bore","stroke","compression-ratio","horsepower",
           "peak-rpm","city-mpg","highway- mpg","price"]
df.columns=headers
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body- style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel- system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway- mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [9]:
#exporting data frame to new file
g=df.to_csv('C:\study\IBM DA\car price.csv')

In [10]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body- style           object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb- weight           int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel- system          object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway- mpg           int64
price                 object
dtype: object

In [11]:
df.describe()

,symboling,wheel-base,length,width,height,curb- weight,engine-size,compression-ratio,city-mpg,highway- mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [12]:
df.describe(include='all')

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body- style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel- system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway- mpg,price
count,205.000000,205,205,205,205,205,205,205,205,205.000000,...,205.000000,205,205,205,205.000000,205,205,205.000000,205.000000,205
unique,NaN,52,22,2,2,3,5,3,2,NaN,...,NaN,8,39,37,NaN,60,24,NaN,NaN,187
top,NaN,?,toyota,gas,std,four,sedan,fwd,front,NaN,...,NaN,mpfi,3.62,3.40,NaN,68,5500,NaN,NaN,?
freq,NaN,41,32,185,168,114,96,120,202,NaN,...,NaN,94,23,20,NaN,19,37,NaN,NaN,4
mean,0.834146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.756585,...,126.907317,NaN,NaN,NaN,10.142537,NaN,NaN,25.219512,30.751220,NaN
std,1.245307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.021776,...,41.642693,NaN,NaN,NaN,3.972040,NaN,NaN,6.542142,6.886443,NaN
min,-2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,...,61.000000,NaN,NaN,NaN,7.000000,NaN,NaN,13.000000,16.000000,NaN
25%,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,...,97.000000,NaN,NaN,NaN,8.600000,NaN,NaN,19.000000,25.000000,NaN
50%,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,...,120.000000,NaN,NaN,NaN,9.000000,NaN,NaN,24.000000,30.000000,NaN
75%,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.400000,...,141.000000,NaN,NaN,NaN,9.400000,NaN,NaN,30.000000,34.000000,NaN
max,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.900000,...,326.000000,NaN,NaN,NaN,23.000000,NaN,NaN,49.000000,54.000000,NaN

In [13]:
df[['symboling','wheel-base']].describe()

        symboling  wheel-base
count  205.000000  205.000000
mean     0.834146   98.756585
std      1.245307    6.021776
min     -2.000000   86.600000
25%      0.000000   94.500000
50%      1.000000   97.000000
75%      2.000000  102.400000
max      3.000000  120.900000

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body- style        205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb- weight       205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel- system       205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway- mpg       205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [15]:
'''What is the purpose of data wrangling?
You use data wrangling to convert data from an initial format
to a format that may be better for analysis. '''

'What is the purpose of data wrangling?\nYou use data wrangling to convert data from an initial format\nto a format that may be better for analysis. '

In [16]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body- style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel- system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway- mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

# Identify and handle missing values

identify missing values

In [23]:
#Convert "?" to NaN
#In the car data set, missing data comes with the question mark "?". 
#We replace "?" with NaN (Not a Number),
#Python's default missing value marker for reasons of computational speed and convenience.

In [72]:
import numpy as np
df['normalized-losses'].replace('?',np.NaN,inplace=True)
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body- style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel- system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway- mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

Evaluating for Missing Data
The missing values are converted by default. Use the following functions 
to identify these missing values. You can use two methods to detect missing data:
.isnull()
.notnull()
The output is a boolean value indicating whether the value that is passed 
into the argument is in fact missing data.

In [36]:
df.isnull().head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body- style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel- system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway- mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [38]:
df.notnull().head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body- style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel- system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway- mpg,price
0,True,False,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,False,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,False,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

Count missing values in each column
Using a for loop in Python, you can quickly figure out the number of missing values in each column. 
As mentioned above, "True" represents a missing value and "False" means the value is present in the data set. 
In the body of the for loop the method ".value_counts()" counts the number of "True" values.

In [88]:
df = pd.read_csv(r"C:\study\IBM DA\car price.csv")
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body- style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel- system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway- mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [94]:
import numpy as np
df.replace('?',np.NaN,inplace=True)
df

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body- style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel- system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway- mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.4,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [95]:
#missing values
missing_value=df.isnull()
for column in missing_value.columns.values.tolist():
    print(column)
    print(missing_value[column].value_counts())

symboling
False    205
Name: symboling, dtype: int64
normalized-losses
False    164
True      41
Name: normalized-losses, dtype: int64
make
False    205
Name: make, dtype: int64
fuel-type
False    205
Name: fuel-type, dtype: int64
aspiration
False    205
Name: aspiration, dtype: int64
num-of-doors
False    203
True       2
Name: num-of-doors, dtype: int64
body- style
False    205
Name: body- style, dtype: int64
drive-wheels
False    205
Name: drive-wheels, dtype: int64
engine-location
False    205
Name: engine-location, dtype: int64
wheel-base
False    205
Name: wheel-base, dtype: int64
length
False    205
Name: length, dtype: int64
width
False    205
Name: width, dtype: int64
height
False    205
Name: height, dtype: int64
curb- weight
False    205
Name: curb- weight, dtype: int64
engine-type
False    205
Name: engine-type, dtype: int64
num-of-cylinders
False    205
Name: num-of-cylinders, dtype: int64
engine-size
False    205
Name: engine-size, dtype: int64
fuel- system
False    205
Name: fuel- system, dtype: int64
bore
False    201
True       4
Name: bore, dtype: int64
stroke
False    201
True       4
Name: stroke, dtype: int64
compression-ratio
False    205
Name: compression-ratio, dtype: int64
horsepower
False    203
True       2
Name: horsepower, dtype: int64
peak-rpm
False    203
True       2
Name: peak-rpm, dtype: int64
city-mpg
False    205
Name: city-mpg, dtype: int64
highway- mpg
False    205
Name: highway- mpg, dtype: int64
price
False    201
True       4
Name: price, dtype: int64

In [ ]:

''''''
"normalized-losses": 41 missing data, replace them with mean
"stroke": 4 missing data, replace them with mean
"bore": 4 missing data, replace them with mean
"horsepower": 2 missing data, replace them with mean
"peak-rpm": 2 missing data, replace them with mean''''''

In [97]:
mean=df["normalized-losses"].astype('float').mean()
mean

122.0

In [98]:
import numpy as np
df["normalized-losses"].replace(np.NaN,mean,inplace=True)

In [99]:
mean=df["stroke"].astype('float').mean()
df["stroke"].replace(np.NaN,mean,inplace=True)

In [100]:
mean=df["bore"].astype('float').mean()
df["bore"].replace(np.NaN,mean,inplace=True)

In [101]:
mean=df["horsepower"].astype('float').mean()
df["horsepower"].replace(np.NaN,mean,inplace=True)

In [102]:
mean=df["peak-rpm"].astype('float').mean()
df["peak-rpm"].replace(np.NaN,mean,inplace=True)

In [103]:
#missing values
missing_value=df.isnull()
for column in missing_value.columns.values.tolist():
    print(column)
    print(missing_value[column].value_counts())

symboling
False    205
Name: symboling, dtype: int64
normalized-losses
False    205
Name: normalized-losses, dtype: int64
make
False    205
Name: make, dtype: int64
fuel-type
False    205
Name: fuel-type, dtype: int64
aspiration
False    205
Name: aspiration, dtype: int64
num-of-doors
False    203
True       2
Name: num-of-doors, dtype: int64
body- style
False    205
Name: body- style, dtype: int64
drive-wheels
False    205
Name: drive-wheels, dtype: int64
engine-location
False    205
Name: engine-location, dtype: int64
wheel-base
False    205
Name: wheel-base, dtype: int64
length
False    205
Name: length, dtype: int64
width
False    205
Name: width, dtype: int64
height
False    205
Name: height, dtype: int64
curb- weight
False    205
Name: curb- weight, dtype: int64
engine-type
False    205
Name: engine-type, dtype: int64
num-of-cylinders
False    205
Name: num-of-cylinders, dtype: int64
engine-size
False    205
Name: engine-size, dtype: int64
fuel- system
False    205
Name: fuel- system, dtype: int64
bore
False    205
Name: bore, dtype: int64
stroke
False    205
Name: stroke, dtype: int64
compression-ratio
False    205
Name: compression-ratio, dtype: int64
horsepower
False    205
Name: horsepower, dtype: int64
peak-rpm
False    205
Name: peak-rpm, dtype: int64
city-mpg
False    205
Name: city-mpg, dtype: int64
highway- mpg
False    205
Name: highway- mpg, dtype: int64
price
False    201
True       4
Name: price, dtype: int64

In [ ]:
Replace by frequency:
"num-of-doors": 2 missing data, replace them with "four".
Reason: 84% sedans are four doors. Since four doors is most frequent, it is most likely to occur

In [109]:
mod=df["num-of-doors"].mode()
mod

0    four
Name: num-of-doors, dtype: object

In [106]:
df["num-of-doors"].value_counts()

four    114
two      89
Name: num-of-doors, dtype: int64

In [111]:
#so we replace it with four 
df["num-of-doors"].replace(np.NaN,'four')

0       two
1       two
2       two
3      four
4      four
       ...
200    four
201    four
202    four
203    four
204    four
Name: num-of-doors, Length: 205, dtype: object

In [112]:
# we have price data as null
df.dropna(inplace=True)

In [113]:
#missing values
missing_value=df.isnull()
for column in missing_value.columns.values.tolist():
    print(column)
    print(missing_value[column].value_counts())

symboling
False    199
Name: symboling, dtype: int64
normalized-losses
False    199
Name: normalized-losses, dtype: int64
make
False    199
Name: make, dtype: int64
fuel-type
False    199
Name: fuel-type, dtype: int64
aspiration
False    199
Name: aspiration, dtype: int64
num-of-doors
False    199
Name: num-of-doors, dtype: int64
body- style
False    199
Name: body- style, dtype: int64
drive-wheels
False    199
Name: drive-wheels, dtype: int64
engine-location
False    199
Name: engine-location, dtype: int64
wheel-base
False    199
Name: wheel-base, dtype: int64
length
False    199
Name: length, dtype: int64
width
False    199
Name: width, dtype: int64
height
False    199
Name: height, dtype: int64
curb- weight
False    199
Name: curb- weight, dtype: int64
engine-type
False    199
Name: engine-type, dtype: int64
num-of-cylinders
False    199
Name: num-of-cylinders, dtype: int64
engine-size
False    199
Name: engine-size, dtype: int64
fuel- system
False    199
Name: fuel- system, dtype: int64
bore
False    199
Name: bore, dtype: int64
stroke
False    199
Name: stroke, dtype: int64
compression-ratio
False    199
Name: compression-ratio, dtype: int64
horsepower
False    199
Name: horsepower, dtype: int64
peak-rpm
False    199
Name: peak-rpm, dtype: int64
city-mpg
False    199
Name: city-mpg, dtype: int64
highway- mpg
False    199
Name: highway- mpg, dtype: int64
price
False    199
Name: price, dtype: int64

In [115]:
#data types
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body- style           object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb- weight           int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel- system          object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway- mpg           int64
price                 object
dtype: object

In [116]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body- style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel- system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway- mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [117]:
#normalized loss present as object convert into int
df["normalized-losses"]=df["normalized-losses"].astype('int')

In [120]:
#bore,stroke -> float 
#horsepower int 
#peakrpm int
#price int
df[["bore", "stroke"]] = df[["bore", "stroke"]].astype("float")
df[["normalized-losses","horsepower"]] = df[["normalized-losses",'horsepower']].astype("int")
df[["price"]] = df[["price"]].astype("float")
df[["peak-rpm"]] = df[["peak-rpm"]].astype("float")

In [121]:
df.dtypes

symboling              int64
normalized-losses      int32
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body- style           object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb- weight           int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel- system          object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower             int32
peak-rpm             float64
city-mpg               int64
highway- mpg           int64
price                float64
dtype: object

In [122]:
Data Standardization
You usually collect data from different agencies in different formats. 
(Data standardization is also a term for a particular type of data normalization where you
 subtract the mean and divide by the standard deviation.)

What is standardization?

Standardization is the process of transforming data into a common format,
allowing the researcher to make the meaningful comparison.

Example

Transform mpg to L/100km:
 
In your data set, the fuel consumption columns "city-mpg" and "highway-mpg"are 
represented by mpg (miles per gallon) unit. Assume you are developing an application 
in a country that accepts the fuel consumption with L/100km standard.

You will need to apply data transformation to transform mpg into L/100km.

SyntaxError: invalid syntax (2442420589.py, line 2)

In [153]:
#city mpg in l/100 km 
df["city-L/100km"]=235/df["city-mpg"]
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body- style,drive-wheels,engine-location,wheel-base,...,fuel- system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway- mpg,price,city-L/100km
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000.0,11.190476,27,13495.0,21.0
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000.0,11.190476,27,16500.0,21.0
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000.0,12.368421,26,16500.0,19.0
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500.0,9.791667,30,13950.0,24.0
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500.0,13.055556,22,17450.0,18.0

In [154]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body- style,drive-wheels,engine-location,wheel-base,...,fuel- system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway- mpg,price,city-L/100km
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000.0,11.190476,27,13495.0,21.0
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,mpfi,3.47,2.68,9.0,111,5000.0,11.190476,27,16500.0,21.0
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,mpfi,2.68,3.47,9.0,154,5000.0,12.368421,26,16500.0,19.0
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,mpfi,3.19,3.40,10.0,102,5500.0,9.791667,30,13950.0,24.0
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,mpfi,3.19,3.40,8.0,115,5500.0,13.055556,22,17450.0,18.0

In [155]:
df["highway-L/100km"]=235/df["highway- mpg"]
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body- style,drive-wheels,engine-location,wheel-base,...,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway- mpg,price,city-L/100km,highway-L/100km
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,3.47,2.68,9.0,111,5000.0,11.190476,27,13495.0,21.0,8.703704
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,3.47,2.68,9.0,111,5000.0,11.190476,27,16500.0,21.0,8.703704
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,2.68,3.47,9.0,154,5000.0,12.368421,26,16500.0,19.0,9.038462
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,3.19,3.40,10.0,102,5500.0,9.791667,30,13950.0,24.0,7.833333
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,3.19,3.40,8.0,115,5500.0,13.055556,22,17450.0,18.0,10.681818

Data Normalization
Why normalization?

Normalization is the process of transforming values of several variables into a similar range. Typical normalizations include

scaling the variable so the variable average is 0
scaling the variable so the variance is 1
scaling the variable so the variable values range from 0 to 1
Example

To demonstrate normalization, say you want to scale the columns "length", "width" and "height".

Target: normalize those variables so their value ranges from 0 to 1

Approach: replace the original value by (original value)/(maximum value)

In [157]:
df["length"]=df["length"]/df["length"].max()
df["width"]=df["width"]/df["width"].max()
df["height"]=df["height"]/df["height"].max()
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body- style,drive-wheels,engine-location,wheel-base,...,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway- mpg,price,city-L/100km,highway-L/100km
0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,3.47,2.68,9.0,111,5000.0,11.190476,27,13495.0,21.0,8.703704
1,3,122,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,3.47,2.68,9.0,111,5000.0,11.190476,27,16500.0,21.0,8.703704
2,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,2.68,3.47,9.0,154,5000.0,12.368421,26,16500.0,19.0,9.038462
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,3.19,3.40,10.0,102,5500.0,9.791667,30,13950.0,24.0,7.833333
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,3.19,3.40,8.0,115,5500.0,13.055556,22,17450.0,18.0,10.681818

Binning
Why binning?

Binning is a process of transforming continuous numerical variables into discrete categorical 'bins' for grouped analysis.

Example:

In your data set, "horsepower" is a real valued variable ranging from 48 to 288 and it has 59 unique values. What if you only care about the price difference between cars with high horsepower, medium horsepower, and little horsepower (3 types)? You can rearrange them into three â€˜bins' to simplify analysis.

Use the Pandas method 'cut' to segment the 'horsepower' column into 3 bins.

Example of Binning Data In Pandas
Convert data to correct format:

In [158]:
df['horsepower'].dtype

dtype('int32')

In [162]:
bins=np.linspace(min(df['horsepower']),max(df['horsepower']),4)
bins

array([ 48.        , 119.33333333, 190.66666667, 262.        ])

In [167]:
groups=["low","medium","high"]
groups

['low', 'medium', 'high']

In [168]:
df['horsepower-bins']=pd.cut(df['horsepower'],bins,labels=groups,include_lowest=True)
df[['horsepower','horsepower-bins']].head()

   horsepower horsepower-bins
0         111             low
1         111             low
2         154          medium
3         102             low
4         115             low

Indicator Variable
What is an indicator variable?

An indicator variable (or dummy variable) is a numerical variable used to label categories. They are called 'dummies' because the numbers themselves don't have inherent meaning.

Why use indicator variables?

You use indicator variables so you can use categorical variables for regression analysis in the later modules.

In [174]:
dummy=pd.get_dummies(df["fuel-type"])
dummy.head()

   diesel  gas
0       0    1
1       0    1
2       0    1
3       0    1
4       0    1

In [176]:
dummy.rename(columns={"diesel":"fuel-deisel",
                     "gas":"fuel-gas"},inplace=True)
dummy.head()

   fuel-deisel  fuel-gas
0            0         1
1            0         1
2            0         1
3            0         1
4            0         1

In [1]:
ipodf=pd.concat(["df","dummy"],axis=1)
df.head()

NameError: name 'pd' is not defined