In [2]:

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler,PolynomialFeatures
from sklearn.linear_model import LinearRegression
%matplotlib inline

In [11]:
os.getcwd()

NameError: name 'os' is not defined

In [7]:
df=pd.read_csv("C:\study\IBM DA\project\kc_house_data_NaN.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\study\\IBM DA\\project\\kc_house_data_NaN.csv'

In [4]:
df.head()

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,0,7129300520,20141013T000000,221900.0,3.0,1.00,1180,5650,1.0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,1,6414100192,20141209T000000,538000.0,3.0,2.25,2570,7242,2.0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2,5631500400,20150225T000000,180000.0,2.0,1.00,770,10000,1.0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,3,2487200875,20141209T000000,604000.0,4.0,3.00,1960,5000,1.0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,4,1954400510,20150218T000000,510000.0,3.0,2.00,1680,8080,1.0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [8]:
df.drop(['id',"Unnamed: 0"],axis=1,inplace=True)

In [15]:
# Use value_counts() to count unique floor values
unique_floor_counts = df['floors'].value_counts()

# Convert the Series to a DataFrame using to_frame()
df_floor_counts = unique_floor_counts.to_frame(name='count')

# Print the DataFrame
print(df_floor_counts)

     count
1.0  10680
2.0   8241
1.5   1910
3.0    613
2.5    161
3.5      8

In [10]:
df.describe()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,21600.000000,21603.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,5.400881e+05,3.372870,2.115736,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,3.671272e+05,0.926657,0.768996,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,7.500000e+04,1.000000,0.500000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [12]:
df.value_counts

<bound method DataFrame.value_counts of                   date     price  bedrooms  bathrooms  sqft_living  sqft_lot  \
0      20141013T000000  221900.0       3.0       1.00         1180      5650
1      20141209T000000  538000.0       3.0       2.25         2570      7242
2      20150225T000000  180000.0       2.0       1.00          770     10000
3      20141209T000000  604000.0       4.0       3.00         1960      5000
4      20150218T000000  510000.0       3.0       2.00         1680      8080
...                ...       ...       ...        ...          ...       ...
21608  20140521T000000  360000.0       3.0       2.50         1530      1131
21609  20150223T000000  400000.0       4.0       2.50         2310      5813
21610  20140623T000000  402101.0       2.0       0.75         1020      1350
21611  20150116T000000  400000.0       3.0       2.50         1600      2388
21612  20141015T000000  325000.0       2.0       0.75         1020      1076

       floors  waterfront  view  condition  grade  sqft_above  sqft_basement  \
0         1.0           0     0          3      7        1180              0
1         2.0           0     0          3      7        2170            400
2         1.0           0     0          3      6         770              0
3         1.0           0     0          5      7        1050            910
4         1.0           0     0          3      8        1680              0
...       ...         ...   ...        ...    ...         ...            ...
21608     3.0           0     0          3      8        1530              0
21609     2.0           0     0          3      8        2310              0
21610     2.0           0     0          3      7        1020              0
21611     2.0           0     0          3      8        1600              0
21612     2.0           0     0          3      7        1020              0

       yr_built  yr_renovated  zipcode      lat     long  sqft_living15  \
0          1955             0    98178  47.5112 -122.257           1340
1          1951          1991    98125  47.7210 -122.319           1690
2          1933             0    98028  47.7379 -122.233           2720
3          1965             0    98136  47.5208 -122.393           1360
4          1987             0    98074  47.6168 -122.045           1800
...         ...           ...      ...      ...      ...            ...
21608      2009             0    98103  47.6993 -122.346           1530
21609      2014             0    98146  47.5107 -122.362           1830
21610      2009             0    98144  47.5944 -122.299           1020
21611      2004             0    98027  47.5345 -122.069           1410
21612      2008             0    98144  47.5941 -122.299           1020

       sqft_lot15
0            5650
1            7639
2            8062
3            5000
4            7503
...           ...
21608        1509
21609        7200
21610        2007
21611        1287
21612        1357

[21613 rows x 20 columns]>

In [13]:
df['floors'].value_counts()

1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: floors, dtype: int64

In [17]:
 df['bedrooms'].isnull().sum()

13

In [23]:
df['floors'].value_counts()

1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: floors, dtype: int64

In [3]:
# Assuming you have a dataframe 'df' containing 'price' and 'waterfront' columns

# Create a boxplot
sns.boxplot(
    x = "waterfront",
    y = "price",
    showmeans=True,  # Add a dot representing the mean price for each category
    data=df
)

# Customize the plot for better readability (optional)
plt.xlabel("Waterfront View")
plt.ylabel("Price")
plt.title("Price Distribution of Houses with/without Waterfront View")
plt.xticks([0, 1], ["No", "Yes"])  # Map categorical values to labels on x-axis
plt.show()

NameError: name 'df' is not defined